<div id="map" data-lat="18.650488" data-lon="-91.807459" style="width: 100%; height: 500px;"></div>

<div class="infobox-wrapper shorter-infobox contact-infobox">
  <div id="infobox">
    <div class="infobox-address">
      <h6>Ecologica Learning</h6>
    </div>

  </div>
</div>
