<ul class="course-filter">
  <li class="course-filter_item active" data-category="all">Todos los cursos</li>
  <li class="course-filter_item" data-category="Higiene y seguridad en el trabajo">Higiene y seguridad en el trabajo</li>
  <li class="course-filter_item" data-category="Seguridad industrial">Seguridad industrial</li>
  <li class="course-filter_item" data-category="Ambientales">Ambientales</li>
</ul>
