<!-- start Footer Wrapper -->
<div class="footer-wrapper scrollspy-footer">

  <footer class="secondary-footer">

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <p class="copy-right">&#169; Copyright <%= Time.now.year %> Ecologica Learning</p>
        </div>

        <div class="col-xs-12 col-sm-6">
          <ul class="secondary-footer-menu clearfix">
            <li><%= link_to 'Aviso de privacidad', '/aviso-privacidad.html' %></li>
            <li><%= link_to 'Terminos y condiciones', '/terminos.html' %></li>
          <!--  <li><%= link_to 'Facturación', '/facturacion.html' %></li> -->
          </ul>
        </div>

      </div>

    </div>

  </footer>

</div>
<!-- end Footer Wrapper -->
