<!-- start Header -->
<header id="header">

  <!-- start Navbar (Header) -->
  <nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">

    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.ecologicalearning.com"><img src="/images/eco-learn-logo.png" alt=""></a>
      </div>

      <div id="navbar" class="collapse navbar-collapse navbar-arrow">

        <ul class="nav navbar-nav navbar-right" id="responsive-menu">
          <li><%= link_to 'Cursos Presenciales', '/cursos-presenciales.html' %></li>
          <li><%= link_to 'Contacto', '/contacto.html' %></li>
        </ul>

      </div>

    </div>

    <div id="slicknav-mobile"></div>

  </nav>
  <!-- end Navbar (Header) -->

</header>
<!-- end Header -->
