<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
    <div class="new-course">
        <span class="new-course_icon"><i class="fa fa-plus-circle fa-4x"></i></span>
        <h4 class="new-course_title">Nuevos cursos proximamente</h4>
    </div>
</div>
