---
title: Cursos Presenciales
layout: course-list
description: ¿Quieres ser encontrado en Google por tus clientes? Utilizamos técnicas de Ecommerce SEO éticas que ayudan a lograr un mejor posicionamiento en las búsquedas orgánicas
keywords: e-commerce, shopify, ecommerce seo
---

<div class="equal-content-sidebar-wrapper">

  <div class="equal-content-sidebar-by-gridLex">

    <div class="container">

      <div class="GridLex-grid-noGutter-equalHeight">

        <div class="GridLex-col-3_sm-4_xs-12_xss-12">

          <div class="sidebar-wrapper pt-20-xs pb-0-xs">

            <aside class="filter-sidebar">

              <div class="responsive-filter-wrapper">

                <button type="button" class="navbar-toggle btn btn-primary collapsed btn-responsive-filter" data-toggle="collapse" data-target="#responsive-filter-box">Filtrar resultados</button>

                <div class="clear"></div>

                <div class="collapse navbar-collapse responsive-filter-box" id="responsive-filter-box">

                  <div class="collapse-inner">

                    <div class="sidebar-header clearfix">
                      <h4>Categoria del curso</h4>
                    </div>

                    <div class="sidebar-inner">

                      <div class="row gap-20">

                        <div class="col-xss-12 col-xs-6 col-sm-12">

                          <div class="sidebar-module clearfix">

                            <div class="sidebar-module-inner">
                              <div>
                                <span class="course-filter_item active" for="all" data-category="all">Todos los cursos</span>
                              </div>
                              <div>
                                <span class="course-filter_item" for="higiene-seguridad" data-category="Higiene y seguridad en el trabajo">Higiene y seguridad en el trabajo</span>
                              </div>
                              <div>
                                <span class="course-filter_item" for="seguridad-industrial" data-category="Seguridad industrial">Seguridad industrial</span>
                              </div>
                              <div>
                                <span class="course-filter_item" for="ambientales" data-category="Ambientales">Ambientales</span>
                              </div>
                              <div>
                                <span class="course-filter_item" for="apoyo-calidad" data-category="Apoyo a la calidad">Apoyo a la calidad</span>
                              </div>
                            </div>

                          </div>

                        </div>

                        <div class="clear"></div>

                      </div>

                    </div>

                  </div>

                  <div class="clear"></div>

                  <div class="collapse-inner">

                    <div class="sidebar-header clearfix">
                      <h4>Busca un curso</h4>
                    </div>

                    <div class="sidebar-inner">

                      <div class="row gap-20">

                        <div class="col-xss-12 col-xs-6 col-sm-12">

                          <div class="sidebar-module clearfix">

                            <div class="sidebar-module-inner">
                              <div class="search-course-wrapper">
                                <input type="text" class="search-course"/>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="clear"></div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

              <div class="sidebar-box hidden-xs">
                <h4 class="sidebar-title">Estamos para servirte</h4>
                <p>Ya sea que necesites que vayamos a tus instalaciones o prefieras tomar el curso en las nuestras, solo ponte en contacto y seras atendido a la mayor brevedad posible.</p>
              </div>

            </aside>

          </div>

        </div>

        <div class="GridLex-col-9_sm-8_xs-12_xss-12">

          <div class="content-wrapper pt-20-xs">

            <div class="sorting-wrappper">

              <div class="sorting-header">

                <div class="row">

                  <div class="col-xss-12 col-xs-12 col-sm-7 col-md-9">

                    <h4>Hay <span class="course-quantity"></span> cursos en <strong class="course-category">Total</strong></h4>
                  </div>

                  <div class="col-xss-12 col-xs-12 col-sm-5 col-md-3"></div>

                </div>


              </div>

            </div>

            <div class="course-item-wrapper alt-bg-light clearfix">
                <div class="GridLex-gap-20"  id="course-list">
                    <div class="GridLex-grid-noGutter-equalHeight list">
                        <%= partial "partials/ps-list" %>
                        <%= partial "partials/new-courses" %>
                    </div>

                    <div class="pager-wrappper clearfix">

                      <div class="pager-innner">

                        <div class="row">

                          <div class="col-xs-12 col-sm-12 col-md-6">
                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-6">
                            <nav class="pager-right">
                              <ul class="pagination"></ul>
                            </nav>
                          </div>

                        </div>

                      </div>

                    </div>

                </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
