---
title: Ecologica Learning
description: Cursos y capacitación para certificaciones HSE
keywords: ecologica, learning, cursos, capacitación
---

<!-- start hero-header -->
<div class="hero with-main-search-wrapper-2" style="background-image:url('images/training-home.jpg');">
    <div class="container">

        <div class="hero-caption-wrapper text-center">

            <h1>Entrenamiento de primer nivel</h1>
            <p class="font22 line34 font300 font-roboto-condensed font19-xs mt-30 mb-30">La seguridad laboral en la industria es algo que tomamos enserio, nos comprometemos con la calidad de nuestros cursos y el aprendizaje que reciben quienes los toman.</p>

        </div>

    </div>
</div>
<!-- end hero-header -->

<!-- start Top Destinations -->
<section class="section pb-70">

    <div class="container">

        <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="section-title">
                    <h2 class="text-center">Te capacitamos en donde estés</h2>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4">

                <div class="icon-featured">

                    <h4>Cursos Presenciales</h4>
                    <span class="icon text-primary">
                        <i class="ion-ios-timer-outline"></i>
                    </span>
                    <p>En nuestras instalaciones o en las de tu empresa, tu decides donde quieres recibir la capacitación.</p>
                    <div class="text-center mt-50">
                        <a href="cursos-presenciales" class="btn btn-primary">Ver Cursos</a>
                    </div>
                </div>

            </div>

            <div class="col-sm-4"></div>

        </div>

    </div>

</section>
<!-- end Top Destinations -->

<div class="overflow-hidden half-image-content">

    <div class="GridLex-grid-noGutter-equalHeight">

        <div class="GridLex-col-6_sm-12_xs-12 bg-img" style="background-image:url('images/training-practical.jpg'); background-position: center left"></div>

        <div class="GridLex-col-6_sm-12_xs-12 bg-light">

            <div class="inner">

                <div class="promo-box-02">
                    <h3 class="mb-20 text-primary">Instructores certificados y capacitados</h3>
                    <p class="font20 line30 font300 font-roboto-condensed font17-xs mb-20">Todos nuestros instructores cuentan como minimo con 5 años de experiencia en la industria.</p>
                    <p class="mb-25">Nuestros instructores cuentan con las ultimas técnicas pedagógicas para trasmitir sus conocimientos de manera óptima. Nuestro objetivo es que aprendas mas en menos tiempo.</p>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="overflow-hidden half-image-content">

    <div class="GridLex-grid-noGutter-equalHeight">

        <div class="GridLex-col-6_sm-12_xs-12">

            <div class="inner">

                <div class="promo-box-02">

                    <h3 class="mb-20 text-primary">Instalaciones equipadas</h3>
                    <p class="font20 line30 font300 font-roboto-condensed font17-xs mb-20">Las condiciones de nuestras instalaciones son óptimas para el máximo aprovechamiento de las capacitaciones que impartimos.</p>
                    <p class="mb-20">Si la capacitación tiene lugar en las instalaciones de su empresa nos aseguramos de tener todo lo necesario para que la capacitación se de sin contratiempos.</p>
                </div>

            </div>

        </div>

        <div class="GridLex-col-6_sm-12_xs-12 bg-img" style="background-image:url('images/training-room.jpg');"></div>

    </div>

</div>
