---
title: Terminos y condiciones
description: ¿Quieres ser encontrado en Google por tus clientes? Utilizamos técnicas de Ecommerce SEO éticas que ayudan a lograr un mejor posicionamiento en las búsquedas orgánicas
keywords: e-commerce, shopify, ecommerce seo
---

<div class="container pt-60 pb-70">

  <div class="row">

    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

      <div class="section-title mb-15">
        <h2 class="text-center">Terminos y Condiciones</h2>
      </div>
    </div>

  </div>

  <h3>Condiciones</h3>

  <p>Al acceder a este sitio web, usted acepta estar obligado por estos Términos y Condiciones de Uso, todas las leyes y reglamentos aplicables, y está de acuerdo en que es responsable del cumplimiento de las leyes locales aplicables. Si no está de acuerdo con cualquier de estos términos, tiene prohibido el uso o acceso a este sitio. Los materiales contenidos en este sitio web están protegidos por derechos de autor y derecho de marca.</p>

  <h3>Licencia de uso</h3>

  <p>a. Se concede permiso para descargar temporalmente una copia de los materiales (información o software) en el sitio web de Ecologica Learning para uso personal, no comercial. Esta es la concesión de una licencia, no una transferencia del título, y bajo esta licencia no podrá:</p>

  <ul>
    <li>i. modificar o copiar los materiales;</li>
    <li>ii. utilizar los materiales para cualquier propósito comercial, o para cualquier exhibición pública (comercial o no comercial);</li>
    <li>iii. intentar descompilar o realizar ingeniería inversa a cualquier software contenido en el sitio web de Ecologica Learning;</li>
    <li>iv. eliminar cualquier derecho de autor u otras notaciones de propiedad de los materiales;</li>
    <li>v. transferir el material a otra persona o "reflejar" los materiales en cualquier otro servidor.</li>
  </ul>

  <p>b. Esta licencia terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser terminado por Ecologica Learning en cualquier momento. Al terminar la visualización de estos materiales o al término de esta licencia, debe destruir cualquier material descargado en su poder ya sea en formato electrónico o formato impreso.</p>

  <h3>Exclusión</h3>

  <p>a. Los materiales en el sitio web de Ecologica Learning se proporcionan "tal cual". Ecologica Learning no ofrece ninguna garantía, expresa o implícita, y por la presente renuncia y niega todas las demás garantías, incluyendo, sin limitación, las garantías o condiciones implícitas de comerciabilidad, adecuación para un propósito particular o no infracción de la propiedad intelectual o cualquier otra violación de los derechos. Además, Ecologica Learning no garantiza ni hace ninguna representación sobre la exactitud, los resultados probables, o la fiabilidad de la utilización de los materiales en su página de Internet o de otra manera relativa a los materiales o en cualquier sitio ligado a este sitio.</p>

  <h3>Limitaciones</h3>

  <p>En ningún caso Ecologica Learning o sus proveedores serán responsables por cualquier daño (incluyendo, sin limitación, daños por pérdida de datos o beneficios, o debido a la interrupción del negocio,) que surjan del uso o la imposibilidad de utilizar los materiales en el sitio de Internet de Ecologica Learning, incluso si Ecologica Learning o de un representante autorizado de Ecologica Learning ha sido notificado en forma oral o por escrito de la posibilidad de tales daños. Debido a que algunas jurisdicciones no permiten limitaciones en garantías implícitas o limitaciones de responsabilidad por daños indirectos o incidentales, estas limitaciones pueden no aplicarse en su caso.</p>

  <h3>Las revisiones y erratas</h3>

  <p>Los materiales que aparecen en el sitio web de Ecologica Learning podrían incluir errores en aspectos técnicos, tipográficos o fotográficos. Ecologica Learning no garantiza que cualquiera de los materiales en su página web sea precisa, completa o actualizada. Ecologica Learning puede hacer cambios a los materiales contenidos en su sitio web en cualquier momento y sin previo aviso, no significa, sin embargo, que se compromete a actualizar los materiales.</p>

  <h3>Enlaces</h3>

  <p>Ecologica Learning no ha revisado todos los sitios vinculados a su página de Internet y no se hace responsable de los contenidos de dicho sitio. La inclusión de estos vínculos no implica reconocimiento alguno por parte Ecologica Learning del sitio. El uso de cualquier sitio web vinculado es bajo el propio riesgo del usuario.</p>

  <h3>Modificaciones de Términos de Uso</h3>

  <p>Ecologica Learning puede revisar estos términos de uso del sitio web en cualquier momento sin aviso. Mediante el uso de este sitio web, usted acepta que quedará vinculado por la entonces actual versión de estos Términos y Condiciones de Uso.</p>

  <h3>Ley de Gobierno</h3>

  <p>Cualquier reclamación relacionada con el sitio web de Ecologica Learning se regirá por las leyes de la Ciudad de México.</p>

  <p>Última actualización: 30/12/2016</p>

</div>
